@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
body {
	background: #eeeeee;
	font-family: 'Roboto', sans-serif;
    font-weight:500;
   
}

.slider-pic{

    
    width:90vw;
    height: 80vh;

}
.carousel {

    width: 100%;
    align-items: center;

}



